* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: goblin one;

}

.row{
  margin-top: 10%;
  margin-bottom: 10%;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-size: 50px;
}


.box{
  width: 100%;
}


.content-name{
  overflow: none;
  text-align: center;
  border: 5px solid black;
  width: 100px;
  height: 50px;
  padding: 5px;
  float: right;
  margin-right: 36px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}

.content{
  border: 5px solid black;
  width: 89%;
  height: auto;
  margin: 3%;
  color: black
  font-size: 25px;
  padding: 2%;
  padding-top: 55px;
  background-color: grey;
}

.name1{
  background-color: purple;
}

.name2{
  color: white;
  background-color: red;
}
.name3{
  background-color: yellow;
}


/*Desktop*/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  .name3{
    margin-right: 65px;
    width: 100px;
  }
}
/*Mobile*/
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .content-name{
    margin-right: 25px;
  }
